@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--Grayish-Blue);
    color: var(--Light-Cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  .quote {
    font-size: 28px;
  }

